/*----------------Estilos de Header----------------*/
.header{
	height: 60px;
}
.logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #f1f;
	text-align: center;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
}
.nav{
	position: absolute;
	top: 0%;
	left: 0;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu__link{
	display: block;
	padding: 20px;
	background: #FBA919;
	text-decoration: none;
	color: #fff;
}
.menu__link:hover {
	background: white;
	color: #FBA919;
}

/*----------------Estilos de Cuerpo----------------*/
.peron{
	margin-top: 0px;
	z-index: -1000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 150%;
	color: #f1f;
	text-align: center;
}

.hola{
	background: rgba(0,0,0,0.5);
}
