/*----------------Estilos de Header----------------*/
.header{
	height: 60px;
}
.logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #f1f;
	text-align: center;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
}
.nav{
	position: absolute;
	top: 0%;
	left: 0;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu__link{
	display: block;
	padding: 20px;
	background: #FBA919;
	text-decoration: none;
	color: #fff;
}
.menu__link:hover {
	background: white;
	color: #FBA919;
}

/*----------------Estilos de Cuerpo----------------*/

.cuerpo{
	padding: 60px;
	width: 95%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden; 
}
/*----------------Estilos de Galeria----------------*/
.galeria{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.ropa_tarjeta{
	width: 24%;
	margin-bottom: 10px;
	background-image: linear-gradient(-45deg, #e3ddd9 50%, #5e4a44 50%);
	margin: auto;
}

.ropa_imagen{
	width: 90%;
	height: 90%;
	object-fit: cover;
	display: block;
	margin: auto;
	margin-top: 16px;
}
	
.tipo__ropa{
	text-align: center;
}
.elegir__txt
{

}
/*----------------Estilos de Elegir----------------*/


