/*----------------Estilos de Header----------------*/
.header{
	height: 60px;
}
.logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #f1f;
	text-align: center;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
}
.nav{
	position: absolute;
	top: 0%;
	left: 0;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu__link{
	display: block;
	padding: 20px;
	background: #FBA919;
	text-decoration: none;
	color: #fff;
}
.menu__link:hover {
	background: white;
	color: #FBA919;
}

/*----------------Estilos de Cuerpo----------------*/

.cuerpo{
	padding: 60px;
	width: 90%;
	max-width: 1400px;
	margin: auto;
	overflow: hidden; 
}
/*----------------Estilos de Galeria----------------*/
.galeria{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.ropa_tarjeta{
	width: 24%;
	margin-bottom: 10px;
	background-image: linear-gradient(-45deg, #e3ddd9 50%, #5e4a44 50%);
	margin: auto;
}

.ropa_imagen{
	width: 90%;
	height: 90%;
	object-fit: cover;
	display: block;
	margin: auto;
	margin-top: 16px;
}
	
.tipo__ropa{
	text-align: center;
}
.ropa_txt
{

}
/*----------------Estilos de Subir Foto----------------*/
.preload{
	padding-top: 20px;
	text-align: center;
	display: none;
}
button{
	margin: 0;
	padding: 0;
}
#container-input{
	width: 640px
	margin:0 auto;
	border: solid 1px #CCC;
	position: relative;
	overflow: hidden;
}



/*----------------Estilos de Placard----------------*/
.scontenedor{
width: 100%;
height: 750px;
background-image: linear-gradient(-45deg, #e3ddd9 50%, #5e4a44 50%);
}

.spreferencia{
width: 250px;
height: 300px;
background-image: #FCB919; 
}


/*.ropa_imagen_select{
	width : 235px; 
	height : 235px;
	object-fit: cover;
	display: block;
	margin: auto;
	margin-top: 16px;
}
*/

