/*----------------Estilos de tipos----------------*/
h2{ color: #fff; }

/*----------------Estilos de Header----------------*/
.header{
	height: 70px;
	background: #484D4A;
	position: relative;
}

.logo{
	position: absolute;
	left: 50%;
	margin-top: 33px;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
	text-align: center;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
}
.nav{
	position: absolute;
	left: 1%;
	margin-top: 25px;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu li{
	display: inline;
}
.menu__link{
	padding: 15px;
	background: #FBA919;
	text-decoration: none;
	color: #fff;
}
.menu__link:hover {
	background: white;
	color: #FBA919;
}

#cuadroUsuario{ margin-right: 1%; }
#cuadroLogin{ margin-top: 5%; }

/*----------------Estilos de Cuerpo----------------*/

.cuerpo{
	padding: 60px;
	width: 90%;
	max-width: 1400px;
	margin: auto;
	overflow: hidden;
	color: #fff; 
}
/*----------------Estilos de Galeria----------------*/
.cuadro_galeria{
background: #484D4A;
font-style:italic;
text-align: center;
font-size: 1.5em;
font-weight: bold;
border: 1px solid #000000;
}

.contenedor_galeria{
	
}

.galeria{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 1%;
}

.ropa_tarjeta{
	width: 24%;
	display: block;
	margin:auto;
	background-image: linear-gradient(-45deg, #e3ddd9 50%, #2e2c28 50%);
	margin-bottom: 1%;
}

.ropa_imagen{
	width: 90%;
	height: 90%;
	max-height: 282px;
	max-width: 282px;
	object-fit: contain;
	display: block;
	margin:auto;
	margin-top: 5%;
	margin-bottom: 5%;
}
	
.tipo__ropa{
	text-align: center;
}

.boton_galeria{
	padding: 10px;
	background: #FBA919;
	text-decoration: none;
	color: #fff;
	border: 0;
}

#login { padding: 5px; }
#regis { padding: 5px; margin-top: 2px; }

.boton_galeria:hover {
	background: white;
	color: #FBA919;
}
.ropa_txt
{

}

/*----------------Estilos de Placard----------------*/
.scontenedor{
border: 1px solid #000000;
border-top: 20px solid #262626;
width: 100%;
height: 600px;
background-image: linear-gradient(-45deg, #e3ddd9 50%, #484D4A 50%);
justify-content: space-around;
flex-wrap: wrap;
}

#tit_s { 
	text-align: center; 
	font-style:italic;
	font-size: 1.5em;
	font-weight: bold;
	  }

.spreferencia{
	width: 40%;
	height: 300px;
	margin-left: 2%;
}

.sropa{
	height: 500px;
	width: 58%;
}


.ropa_imagen_select{
	object-fit: contain;
	border: 1px solid #000000;
}